!!!
%html
  %head
    %title
      = h(@version[:title])
      \ - Protonet Wiki
  %body
    %h1= h(@version[:title])
    %p
      %em
        Last edited by
        = @version[:user_id]
        on
        = @version[:created_at]
        \-
        %a{:href => "/#{@page[:name]}/versions"} other versions
        \-
        %a{:href => "/#{@page[:name]}/versions/new"} edit
    %hr

    = RDiscount.new(@version[:body], :filter_html).to_html
